{
  "presets": [
    "react",
    "stage-2",
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 version"]
        },
        "useBuiltIns": "entry",
        "modules": "commonjs"
      }
    ]
  ],
  "plugins": ["transform-export-extensions"]
}
